# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project configuration
.cartography/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/
